.body {
  background: red;
  height: 100vh;
}
.main {
  width: 600px;
  height: 600px;
  background: #ccc;
  position: relative;
}
.item {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: cyan;
  margin-bottom: 10px;
}

.item1 {
  background: cyan;
  bottom: 50px;
  position: absolute;
}

.item2 {
  background: navy;
}
.item3 {
  background: brown;
}
